body{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container{
  background-color: white;
  height: 400px;
  width: 400px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#container > div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#container > div > input{
  width: 60%;
  text-align: center;
}

#container > div > input:not(:last-child){
  margin-bottom: 30px;
}