@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazirmatn-RD-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazirmatn-RD-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazirmatn-RD-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazirmatn-RD-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazirmatn-RD-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazirmatn-RD-SemiBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazirmatn-RD-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazirmatn-RD-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

*{
  font-family: "vazir";
}