#check-container{
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 70%;
}

#check-container > div:first-child{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

#check-container > div > a{
  background-color: var(--main);
  color: white;
  margin-right: 15px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid var(--main);
  transition: all .2s ease-in-out;
}

#check-container > div > a:hover{
  background-color: transparent;
  color: var(--main);
}

#check-container > form{
  background-color: white;
  border-radius: 10px;
  padding: 25px;
}

#check-container > form > button{
  margin-top: 20px;
}

#check-container > form > h3{
  margin-bottom: 20px;
}

#check-container > form > div > input{
  width: 20%;
}

#check-container > form > div{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#check-container > form > div:not(:first-child){
  margin-top: 10px;
}

.single-buyer-container{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border-radius: 10px;
  margin: 2px;
}

.single-buyer-container > div{
  display: flex;
}

.single-buyer-container > div > p:last-child{
  margin-right: 3px;
}

.sellTo-container{
  display: flex;
  flex-direction: column;
}

.sellTo-container > div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.sellTo-container > div:not(:last-child){
  margin-bottom: 15px;
}

.sellTo-container > div > div > p{
  margin-left: 10px;
}

.sellTo-container > div > div > select{
  border: 1px solid var(--main);
  padding: 2px 5px;
  border-radius: 7px;
}

.sellTo-container > div > div > input{
  padding: 2px 5px;
}

.single-buyer > div:first-child > div{
  display: flex;
  background-color: var(--main);
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}

.single-buyer > div:first-child > div > a{
  color: white;
}

.single-buyer > div:not(:first-child) > div{
  border: 1px solid var(--main);
  padding: 10px;
  padding-bottom: 3px;
  border-radius: 10px;
  font-size: 14px;
}

.restore-check{
  background-color: var(--main);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  padding: 3px;
  margin-right: -10px;
}

.request-container{
  display: flex;
  background-color: white;
  justify-content: space-between;
  border-radius: 10px;
  padding: 15px;
  align-items: center;
  margin: 5px;
}

.request-container > p:first-child{
  background-color: #f1f1f1;
  color: gray;
  min-width: 30px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  padding: 2px 5px;
}

.request-container > a{
  background-color: var(--main);
  color: white;
  margin-right: 15px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid var(--main);
  transition: all .2s ease-in-out;
}