<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <%- include("../templates/header.ejs", {title : "آیفون استور", css : "homePage"}) %>
</head>
<body>
  <%- include("../templates/sideBar.ejs", {active : 'sells'}) %>
  <div id="check-container">
    <div>
      <h1>لیست فروش</h1>
    </div>
    
    <div>
        <% phones.forEach(phone => { %>
            <%- include("../templates/singlePhone.ejs", {phone, mode:1}) -%>
        <% }) %>
    </div>
  </div>
</body>
</html>