{
    "port" : PORT,
    "secret" : "SECRET",
    "adminNumber" : "",

    "db" : {
        "name" : "NAME",
        "username" : "USERNAME",
        "password" : "PASSWORD",
        "host" : "HOST",
        "dialect" : "DIALECT"
    },

    "apis" : {
        "send" : "SEND_MESSAGE_API"
    },

    "smsCodes" : {
        "buy" : BUY,
        "sell" : SELL
    }
}